<div class="row">
  <div class="col m-2">
    <div 
      *ngIf="!togglePersonalForm"
      class="btn btn-primary" 
      (click)="toggleForm()"
    >
      Click To Open Personal Form Details
    </div>
  </div>  
  <div class="col m-2">
    <div
      class="btn btn-success"
      (click)="showUserDetail()"
      *ngIf="!togglePersonalForm"
    >
      Click to Display User Details
    </div>
  </div>
</div>
<app-personal-form
  *ngIf="togglePersonalForm"
  (personalData) = "showPersonalData($event)"
></app-personal-form>
<app-user-detail 
  *ngIf="userDetail"
  [wholeData]="wholeData"
></app-user-detail>
<div class="btn btn-primary" (click)="openFormModal()">
  Open Experience Dialog Box
</div>
