<div class="container">
    <h2>User Details</h2>
    <div class="card" style="width:800px">
      <img class="card-img-top" src="https://www.pinclipart.com/picdir/middle/79-792936_person-taking-notes-man-with-laptop-vector-clipart.png" alt="Card image" style="width:100%">
      <div class="card-body" style="font-size: 30px;">
        <div class="row">
            <div class="col-12">
                <span class="mr-5">Name:</span>
                <span>{{fetchedUser.name}}</span>
            </div>
            <div class="col-12">
                <span class="mr-5">Email:</span>
                <span>{{fetchedUser.email}}</span>
            </div>
            <div class="col-12">
                <span class="mr-3">Blood Group:</span>
                <span>{{fetchedUser.blood_group}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span class="md-5">Nationality:</span>
                <span>{{fetchedUser.nationality}}</span>
            </div>
            <div class="col-6">
                <span class="md-5">Identity Proof: </span>
                <span>{{fetchedUser.identity_proof}}</span>
            </div>
        </div>
        <div>
            <div *ngIf="fetchedUser.identity_proof === 'Aadhaar Card'" class="row">
                <div class="col-12">
                    <span>Full Name (as per Aadhaar Card): </span>
                    <span>{{fetchedUser.aadhaar}}</span>
                </div>
                <div class="col-12">
                    <span>Aadhaar Number: </span>
                    <span>{{fetchedUser.aadhaar_number}}</span>
                </div>
            </div>
            <div *ngIf="fetchedUser.identity_proof === 'PAN Card'" class="row">
                <div class="col-12">
                    <span>Full Name (as per PAN Card): </span>
                <span>{{fetchedUser.pan}}</span>
                </div>
                <div class="col-12">
                    <span>Aadhaar Number: </span>
                    <span>{{fetchedUser.pan_number}}</span>
                </div>
            </div>
            <div *ngIf="fetchedUser.identity_proof === 'Passport'" class="row">
                <div class="col-12">
                    <span>Full Name (as per Passport): </span>
                <span>{{fetchedUser.passport}}</span>
                </div>
                <div class="col-12">
                    <span>Surname: </span>
                    <span>{{fetchedUser.passport_surname}}</span>
                </div>
                <div class="col-12">
                    <span>Passport Number: </span>
                    <span>{{fetchedUser.passport_number}}</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    <br>
</div>